#root {
  background-color: #DDE8E2;
  height: 100%;
  width: 100%;
  margin: 0;
}


/* Font definitions using @font-face */

@font-face {
  font-family: 'DongleLight';
  src: url('./assets/fonts/Dongle/Dongle-Light.ttf');
}

@font-face {
  font-family: 'AbhayaLibre';
  src: url('./assets/fonts/AbhayaLibre/AbhayaLibre-Regular.ttf');
}

@font-face {
  font-family: 'Enriqueta';
  src: url('./assets/fonts/Enriqueta/Enriqueta-Regular.ttf');
  
}
