.imageBox {
    position: relative;
    z-index: 0;
  }
  
  .header {
    position: absolute;
    top: 35%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: left;
    z-index: 1; /* Make sure the header is on top of the image */
    font-size: 4vw;
    font-family: "Enriqueta" ;
    margin-top: 1px;
    margin-bottom: 0px;
    color: rgb(52, 52, 52);
    padding: 0%;
  }
  
  .img {
    position: relative;
    width: 100%;
    height: auto;
  }