.center {
    display: flex;
    
    width: 100vw;
    z-index: -1;
    
    
  }

  .imageBox {
    display: flex;
    height: auto;
    background-image: url('./images/plant background trimmed.png');
    background-size: cover;
    position: relative;
    
  }
  .imageBox .img {
    position: absolute;
    
  }

  