.center {
    display: flex;
    
    width: 100vw;
    z-index: -1;
    
    
  }

  .imageBox {
    display: flex;
    height: auto;
    background-image: url('./images/plantbackground.png');
    background-size: cover;
  }
  .imageBox .img {
    position: relative;
  }