.FormBox {
    width: 45.1vw;
    height: 500px;
    border-radius: 1vw;
    border: 0.1vw solid #000;
    padding: 1vw;
    background: #D7E1DB;
    margin-top: 1vw;
    margin-bottom: 2vw;
    background: white;
    
    display: flex;
    
}