/* Style for the form box */
.FormBox {
    width: 45.1vw;
    height: auto;
    border-radius: 1vw;
    border: 0.1vw solid #000;
    padding: 1vw;
    background: #D7E1DB; /* Background color */
    margin-top: 1vw;
    margin-bottom: 2vw;
    background: white; /* Overriding background color */
    padding-bottom: 1.5vw; /* Bottom padding */

    display: flex; /* Flexbox container */
    flex-direction: column; /* Arrange children in a column */

    font-family: AbhayaLibre; /* Font family */
}

/* Style for the header */
.Header {
    align-self: center; /* Center alignment */
    font-size: 2vw; /* Font size */
    margin-bottom: 1vw; /* Bottom margin */
}

/* Style for the name */
.Name {
    align-self: self-start; /* Alignment to the start */
    font-size: 1.5vw; /* Font size */
    margin-bottom: 0.5vw; /* Bottom margin */
}

/* Style for the input box */
.InputBox {
    border-radius: 0.5vw; /* Border radius */
    border: 0.1vw solid #000; /* Border */
    height: 1.75vw; /* Height */
    background: #ffffff; /* Background color */
    padding-left: 1vw; /* Left padding */
    margin-bottom: 1vw; /* Bottom margin */
    width: 50%; /* Width */
    align-self: self-start; /* Alignment to the start */
}

/* Style for the upload button */
.Upload {
    color: #000; /* Text color */
    border-radius: 0.5vw; /* Border radius */
    border: 0.1vw solid #000; /* Border */
    width: 50%; /* Width */
    align-content: start; /* Alignment */
    font-family: DongleLight; /* Font family */
    font-size: 1.5vw; /* Font size */
    font-style: normal; /* Font style */
    font-weight: 300; /* Font weight */
    line-height: normal; /* Line height */
}

/* Style for the submit button */
.Submit {
    color: #000; /* Text color */
    border-radius: 0.5vw; /* Border radius */
    border: 0.1vw solid #000; /* Border */
    width: 50%; /* Width */
    text-align: center; /* Center alignment */
    font-family: DongleLight; /* Font family */
    font-size: 2vw; /* Font size */
    font-style: normal; /* Font style */
    font-weight: 300; /* Font weight */
    line-height: normal; /* Line height */
    align-self: center; /* Center alignment */
    margin: 2.5vw; /* Margin */
    margin-bottom: 1vw; /* Bottom margin */
}

/* Hover effect for the submit button */
.Submit:hover {
    background: #C0D2C9; /* Background color on hover */
}

/* Style for the clicked element */
.clicked {
    background: #C0D2C9; /* Background color */
}

/* Style for file input type */
input[type="file"] {
    opacity: 0; /* Make the input invisible */
    position: absolute; /* Positioning */
    height: 2.6vw; /* Height */
    width: 24vw; /* Width */
}
