.joblisting {
    border-radius: 1vw;
    border: 0.1vw solid #000;
    width: 95.8%;
    height: auto;

    display: grid;
    grid-template-rows: 4;
    grid-template-columns: 4fr 1.5fr;

    font-family: DongleLight;

    padding: 1vw;
    
    background: white;

    margin-bottom: 2vw;

    
}

.jobName {
    grid-column: 1;
    grid-row: 1;
    font-family: AbhayaLibre;
    font-size: max(2vw, 6px);
}

.jobLocation {
    grid-column: 1;
    grid-row: 2;
    font-size: max(1.2vw, 7px);
    align-self: center;
}

.jobDescription {
    grid-column: 1;
    grid-row: 4;
    font-size: max(1.5vw, 8px);
    line-height: 0.7;
}

.applyButton {
    grid-column: 2;
    grid-row: 2;

    width: auto;
    height: auto;
    
    flex-shrink: 0;

    border: 0.1vw solid black;
    border-radius: 2vw;
    background: white;
    display: flex;
    align-self: center;
    
    transition: background-color 0.3s ease;

    font-family: DongleLight;
    font-size: max(2vw, 5px);

    display: block;
}

.applyButton:hover {
    background: #C0D2C9; 
}