

.imageBox {
  display: flex;
  height: auto;
  background-image: url('./images/plant background trimmed.png');
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.imageBox .img {
  position: relative;
  width: 100%;
  height: auto;
  z-index: -1;
}

.imageBox .landing-title {
  position: relative;
  z-index: 1;
  align-self: center;
}
