

nav{

    width:auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    background: black;
    opacity: 0.86;

    padding: 1rem;

    position: sticky;
    top: 0;
}

nav .title {
    color:rgb(255, 255, 255);
    font-size: 1.5rem;
    margin-left: 2vw;
    
    font-family: 'AbhayaLibre';
    font-size: 45px;
}

ul{
    display: flex;
    align-items: center;
    padding-right: 15%;
}

nav ul li {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

nav ul li a {
    color: white;
    font-family: DongleLight;
    font-size: 40px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    text-decoration: none;
    padding: 5vw;
    padding-top: 3.75%;
    padding-bottom: 0;
    
    
    
    
}
nav ul li a:hover{
    text-decoration:underline;
}
nav .menu {
    display: none;
    position: absolute;
    top: 0.5;
    right: 0.75rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}
nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: white;
    border-radius: 0.2rem;
}

@media (max-width: 1000px){
    nav .menu {
        display: flex;
    }
    
    nav {
        flex-direction: column;
        align-items: start;
    }

    nav ul {
        display: none;
        flex-direction: row;
        width: auto;
        margin-bottom: 0.25rem;
        padding-inline-start: 0;
        align-items:center;
        align-self: center;

    }

    nav ul.open {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
        padding-right: 0;
    }

    nav ul li {
        padding: 0.25rem;
    }
    
    
}